/target

# Rust
Cargo.lock
forks/
uv.lock

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.env
.venv
venv/
pip-wheel-metadata/
*.so

# Common IDEs and tools
.idea/
.vscode/
*.swp

# Misc
.DS_Store


.pytest_cache/

